@import "../node_modules/picnic/picnic.min.css";

#root {
  background-color: #ddd;
}

.App {
  min-height: 100vh;
  max-width: 700px;
  margin: 0 auto;
  padding: 5px;
}

h3 {
  font-size: smaller;
}

.url-label {
  color: #666;
}

pre {
  border-radius: 0 !important;
  margin-top: 0 !important;
  font-size: small;
  padding: 10px 16px;
  max-height: 400px;
}
